body{

font-family: 'Gentium Book Plus', serif;
font-family: 'Lato', sans-serif;
margin:0;


}

.Header{
  background-image: url(img.jpg);
  padding: 200px;
  background-position: center;
  filter: blur(3px);
  -webkit-filter: blur(2px);
  height:400px ;
  background-size: cover;
  background-repeat: no-repeat;
}

.title{

    font-size:40px;
    color: rgb(245, 209, 209);
    position: absolute;
    bottom: 8px;
    left: 16%;
    text-align: center;
    font-weight: lighter;
   
}

#button1{
  border-radius: 6px;
  font-size: 26px;
  font-weight: 700;
  background-color: rgb(130, 234, 130);
  padding: 10px;
  
  

}

.monthly-title{
    font-weight:900px;
    font-size: xx-large;
    text-align:center;
    padding-top: 10%;   
}

.instance-p{

  text-align: center;
}

.flex-container> div {


  order: 5px;
  width:100px;
  line-height:75px;
  margin: 10px;
  margin-left: 32%;
  text-align: center;
  font-size: 30px;
  background-color: rgb(222, 228, 228);
 }

 #select-box{
    background-color: rgb(230, 158, 132);
    border: 1px solid rgb(247, 31, 31);
 }

#input-field{

  margin-left: 40%;
  border: 1px solid rgb(237, 39, 39);
  height: 25px;
  width: 20%;
  }
  
#button2{
  border-radius: 6px;
  font-size: 26px;
  font-weight: 500;
  background-color: rgb(207, 211, 222);
  padding: 5px;
  position: absolute;
  left: 42%;
  margin: 40px;
   
  }

  .title3{
    font-size:50px;
    margin-top: 200px;
    text-align: center;
  }

  .flexible{
    display: flex;
    margin-left: 50px;
    
  }

  .card{

    width: 40%;
    height:400px;
    padding-left:35px;
    padding-right:35px;
    border: 1px solid darkcyan;
    margin:30px;
    background-color: rgb(235, 231, 225);
    
  }

  .pbox-text{
    text-align: justify;
  }

  .icon img{
    width:50px;
    padding-top:70px;
    
  }

  .main-section{
    display: flex;
  }

  

#anchor-button{

      border-radius: 6px;
      font-size: 26px;
      font-weight:bolder;
      background-color: rgb(161, 180, 237);
      padding: 5px;
      text-decoration: none;
      color: rgb(0, 3, 6);
      
      
    }
  .section-image img{
      height: 500px;
      margin-left:200px;
      background-repeat: no-repeat;
      margin-top: 200px;

    }

.text-pgraph{
  font-size: xx-large;
  text-align: justify;
  margin-bottom: 50px;
  margin-top: 300px;
  padding-left: 30px;
  
  }
  .place-email{
   margin: 100px;
   padding-left:40%;
   
  }
  email{
    height: 50px;
    border: 2px rgb(237, 39, 39);

  }

  .footer-design{

   height: 200px;
   width:100%;
   background-color: black;
   text-align: center;
   color: brown;
  padding-top:20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }